	.textRed {
		color:#f00;
	}

	.tblForm * {
		font-size:12px;
		line-height:20px;
	}
	
	table.tblForm tr th {
		font-size:14px;
		width:200px;
		vertical-align:top;
	}
	
	table.tblForm tr td {
		padding:10px 5px;
		border-bottom:solid 1px #ccc;
	}


table.tblList {
	font-size:14px;
	width:100%;
}

table.tblList td, table.tblList th{
	border-bottom:solid 1px #ccc;
	padding:5px;
}


table.tblList thead th {
	border-bottom:solid 3px #ccc;
	color:#65358f;
	font-weight:normal;
}



/*--Pagination--*/
div.pagination span, div.pagination a {
	background:#fff;
	border:solid 1px #aaa;
	padding:2px 5px;
}