html,body { font-family:Tahoma, Geneva, sans-serif; font-size:14px; color:#333;}

img { border:0;}
.cursor { cursor:pointer;}
.clear { clear:both;}
.vald { color:#F00;}
.padR20 { padding-right:20px;}

.statusNew { background:#F90; padding:3px 5px; font-weight:700; color:#000; border-radius: 3px;}
.statusReceived { background:#36F; padding:3px 5px; font-weight:700; color:#000; border-radius: 3px;}
.statusConfirm { background:#0C0; padding:3px 5px; font-weight:700; color:#000; border-radius: 3px;}
.statusNoConfirm { background:#F00; padding:3px 5px; font-weight:700; color:#000; border-radius: 3px;}
.statusReturn { background:#999; padding:3px 5px; font-weight:700; color:#000; border-radius: 3px;}

@font-face {
	font-family: 'Conv_THSarabun';
	src: url('fonts/THSarabun.eot');
	src: local(''), url('fonts/THSarabun.woff') format('woff'), url('fonts/THSarabun.ttf') format('truetype'), url('fonts/THSarabun.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#head { background:url(../images/bg_head.jpg) repeat-x;}
#head #imgHead { text-align:center;}
#page { background:url(../images/bg.jpg); }
#page #content { margin:0 auto; width:980px; padding-bottom:20px;}
#footer { background:url(../images/bg_foot.jpg); text-align:center;}

/************************* TABLE STYLE **************************************/
.odd { background-color:#fff3fc}

.tbweblist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background:none;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.tbweblist th
{
	font-size: 16px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 0px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	text-align:left;
	background-color:none;
	color:#65358f;
}
.tbweblist td
{
	color:#333;
	padding:10px 5px 10px 5px;
	height:30px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
}

.tbweblist td.B { font-weight:700;}
.tbweblist td strong { font-weight:700;}
.tbweblist td.red, span.red { color:#F00;}
.tbweblist tr:hover td,.tblist tr.active td { color:#666;}
.tbweblist .paddL20 { padding-left:20px;}
.tbweblist .paddL40 { padding-left:40px;}
.tbweblist .paddL60 { padding-left:60px;}
.tbweblist tr.topic {  background:url(../images/bg_topic.gif);}

.tblist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.tblist th
{
	font-size: 16px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 0px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	text-align:left;
	background-color:#fff;
	color:#65358f;
}
.tblist td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
}

.tblist td.B { font-weight:700;}
.tblist td strong { font-weight:700;}
.tblist td.red, span.red { color:#F00;}
.tblist tr:hover td,.tblist tr.active td { color:#666;}
.tblist .paddL20 { padding-left:20px;}
.tblist .paddL40 { padding-left:40px;}
.tblist .paddL60 { padding-left:60px;}
.tblist tr.topic {  background:url(../images/bg_topic.gif);}

.tblist2
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
}
.tblist2 th
{
	font-size: 16px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 0px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	text-align:left;
	background-color:#fff;
	color:#65358f;
}
.tblist2 td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.tblist2 td.B, .tblist2 td strong { font-weight:700;}
.tblist2 tr.total {  background:url(../images/bg_total.gif) repeat-x;}


.tblist3
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
}
.tblist3 th
{
	font-size: 16px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 0px solid #ccc;
	text-align:center;
	color:#65358f;
	width:20%;
}
.tblist3 td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	vertical-align:top;
}

.tblist3 td.B, .tblist3 td strong { font-weight:700;}
.tblist3 tr.topic { background:url(../images/bg_topic.gif);}
.tblist3 td span { color:#C60;}

.tblist4
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
}
.tblist4 th
{
	font-size: 16px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 0px solid #ccc;
	text-align:center;
	color:#65358f;
}
.tblist4 td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	vertical-align:top;
}

.tblist4 td.B, .tblist3 td strong { font-weight:700;}
.tblist4 tr.topic { background:url(../images/bg_topic.gif);}
.tblist4 td span { color:#C60;}

.tblistSub
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	margin-left:5%;
	width: 95%;
	border-collapse: collapse;
	text-align: left;
}
.tblistSub th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 0px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	text-align:left;
	background-color:#fff;
	color:#BC5E25;
}
.tblistSub td
{
	color:#333;
	padding:5px;
	height:25px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.tblistSub td.B { font-weight:700;}
.tblistSub td strong { font-weight:700;}
.tblistSub td.red { color:#F00;}
.tblistSub tr:hover td,.tblist tr.active td { color:#666;}
.tblistSub tr.odd { background-color:#fef8d6}

.tblistSub2
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	margin-left:5%;
	width: 95%;
	border-collapse: collapse;
	text-align: left;
}
.tblistSub2 th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px 3px 5px;
	border-top: 0px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	text-align:left;
	background-color:#fff;
	color:#BC5E25;
	width:25%;
}
.tblistSub2 td
{
	color:#333;
	padding:5px;
	height:25px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.tblistSub2 td.B { font-weight:700;}
.tblistSub2 td strong { font-weight:700;}
.tblistSub2 td.red { color:#F00;}
.tblistSub2 tr:hover td,.tblist tr.active td { color:#666;}
.tblistSub2 tr.odd { background-color:#fef8d6}


#report { width:100%; font-family:'Conv_THSarabun',Sans-Serif; font-size:16px; color:#000;}

.tbReport
{
	font-family:'Conv_THSarabun',Sans-Serif; color:#000;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
}
.tbReport th
{
	font-size:18px;
	font-weight: 700;
	padding: 10px 5px 3px 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align:center;
	background-color:#fff;
	color:#333;
}
.tbReport td
{
	font-size: 16px;
	color:#333;
	padding:5px;
	height:30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.tbReport td.B, .tblist2 td strong { font-weight:700;}
.tbReport tr.total {  background:url(../images/bg_total.gif) repeat-x;}
.tbReport td.pattern-a { background:url(../images/pattern2.jpg) repeat;}

.tbadd
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	background: #fff;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin-top:10px;
}
.tbadd th
{
	font-size: 14px;
	font-weight: normal;
	color:#65358f;
	padding: 10px 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	width:20%;
}

.tbadd th.padL15 { padding-left:20px; color:#666}

.tbadd td
{
	color:#595959;
	padding: 5px;
	height:30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	width:80%;
}

.tbadd tbody tr:hover td
{
	background:#FBF9FF;
	
}

.tbadd td.B { font-weight:700;}
.tbadd td strong { font-weight:700;}
.tbadd td.red { color:#F00;}
.tbadd td label2 { float:left; width:100px;}
.tbadd td span { padding-right:20px; margin:5px 0; display:inline-block; white-space:nowrap;}

.tbadd td.line div { border-bottom:1px solid #ccc; padding:5px 0;}

.tbadd .topic { background:#FCC; border-top:1px dashed #ccc; width:100%; color:#000;}


.tbWebAdd
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	background: #fff;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin-top:10px;
}
.tbWebAdd th
{
	font-size: 14px;
	font-weight: 700;
	color:#000;
	vertical-align:top;
	padding: 10px 5px;
	border-top: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	width:20%;
}

.tbWebAdd td
{
	color:#595959;
	padding:10px 5px;
	border-top: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	width:80%;
}

.tbWebAdd tbody tr:hover td
{
	background:#FBF9FF;
	
}

.tbWebAdd td.B { font-weight:700;}
.tbWebAdd td strong { font-weight:700;}
.tbWebAdd td.red { color:#F00;}
.tbWebAdd td label2 { float:left; width:100px;}
.tbWebAdd td span { padding-right:20px; margin:5px 0; display:inline-block; white-space:nowrap;}



.tbadd2
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	background: #fff;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin-top:10px;
}
.tbadd2 th
{
	font-size: 14px;
	font-weight: normal;
	color:#65358f;
	padding: 10px 5px;
	border-top: 0px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	vertical-align:top;
}

.tbadd2 th.padL15 { padding-left:20px; color:#666}

.tbadd2 td
{
	color:#595959;
	padding: 5px;
	height:30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.tbadd2 tbody tr:hover td
{
	background:#FBF9FF;
	
}

.tbadd2 td.B { font-weight:700;}
.tbadd2 td strong { font-weight:700;}
.tbadd2 td.red { color:#F00;}

/************************* TABLE STYLE **************************************/